@(roleForm : Form[models.entity.role.Role])(action : String)
    @breadCrumb = {
    /<a href="/role">@Messages("roles")</a>
    /<a href="#"><b>@action</b></a>
}
@main()(breadCrumb){
    <div class="container">
        @if(roleForm.hasGlobalErrors) {
            <div class="alert alert-warning" roleView="alert">
                <ul>
                @for(error <- roleForm.globalErrors) {
                    <li>@error.message</li>
                }
                </ul>
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-heading">@action</div>
            <div class="panel-body">
                <form roleView="form" id="roleForm" action="/role/roleFormSubmit" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            @helper.inputText(roleForm("name"), '_label -> Messages("name"), '_id -> "name", 'class -> "form-control", 'maxlenght -> 25, 'required -> true,'_showConstraints -> false)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            @helper.inputText(roleForm("refName"), '_label -> Messages("refName"), '_id -> "refName", 'class -> "form-control", 'maxlenght -> 45, 'required -> true,'_showConstraints -> false)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @helper.textarea(roleForm("description"),'_label -> Messages("description"), '_id -> "description", 'class -> "form-control",'cols -> 50,'rows -> 4, 'maxlenght -> 25, 'required -> true,'_showConstraints -> false)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="@Messages("save")" class="btn btn-default btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
