@(role: models.entity.role.Role,groupsList : Option[List[models.entity.group.Group]])
    @breadCrumb = {
        /<a href="/role">@Messages("roles")</a>
        /<a href="#"><b>@Messages("role")</b></a>
    }
@main()(breadCrumb) {
    <div class="container">
        <h3><span class="label label-primary">@role.name</span></h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>@Messages("name")</b><br/>
                            @role.name
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>@Messages("refName")</b><br/>
                            @role.refName
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>@Messages("description")</b><br/>
                            @role.description
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>@Messages("creationDate")</b><br/>
                            @role.creationDate
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/role/roleForm?id=@role.id.get" class="btn btn-default btn-primary">@Messages("update")</a>
                        <a href="/role/deleteRole?id=@role.id.get" class="btn btn-default">@Messages("delete")</a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-group">
                            <h4 class="list-group-item-heading">@Messages("groupsIncludingRoleList")</h4>
                            @if(groupsList.isDefined && !groupsList.isEmpty) {
                                @groupsList.get.map { g =>
                                    <p class="list-group-item-text"><a href="group/showGroup?id=@g.id">@g.name</a></p>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
}