@(passwordForm: Form[controllers.user.PasswordForm])(implicit session : Session)
    @breadCrumb = {
        /<a href="/user">@Messages("users")</a>
        /<a href="#"><b>@Messages("userPasswordUpdate")</b></a>
    }
@main()(breadCrumb) {
    <div class="container">
        @if(passwordForm.hasGlobalErrors) {
            <div class="alert alert-warning" permissionView="alert">
                <ul>
                @for(error <- passwordForm.globalErrors) {
                    <li>@error.message</li>
                }
                </ul>
            </div>
        }
        <div class="panel panel-default col-md-6 col-md-offset-3">
            <div class="panel-heading">@Messages("userPasswordUpdate")</div>
            <div class="panel-body">
                <form id="passwordForm" method="POST" action="/user/newPasswordSubdmit">
                    <input type="hidden" name="@passwordForm("userId").name" id="@passwordForm("userId").name" value="@passwordForm("userId").value.get"/>
                    <div class="row text-center">
                        <div class="form-group col-md-6 col-md-offset-3">
                        @helper.inputPassword(passwordForm("oldPassword"), '_label -> Messages("oldPassword"), '_id -> "oldPassword", 'class -> "form-control", 'maxlenght -> 25, 'required -> true,'_showConstraints -> false)
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="form-group col-md-6 col-md-offset-3">
                            @helper.inputPassword(passwordForm("newPassword"), '_label -> Messages("newPassword"), '_id -> "newPassword", 'class -> "form-control", 'maxlenght -> 25, 'required -> true,'_showConstraints -> false,
                            'onblur -> "testEquivalence(%s,%s,%s,%s);".format("'input#newPassword'", "'input#newPasswordControl'", "'div#passwordsEqualityError'", "'" + Messages("nonEqualsPasswords") + "'"))
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <div class="form-group">
                                <label for ="newPasswordControl">@Html(Messages("newPasswordConfirmation"))</label>
                                <input type="password" class="form-control" id="newPasswordControl" required="true"
                                onblur="testEquivalence ( 'input#newPassword', 'input#newPasswordControl', 'div#passwordsEqualityError', '  @Messages("nonEqualsPasswords") ');"/>
                            </div>
                            <div id="passwordsEqualityError" class="help-block with-errors" style="display : none"></div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-default btn-primary">@Messages("update")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}